<!-- <%- include ('../partials/header') %> 
<div class="container">
    <hi>Thing</hi>
    <p>the thing</p>
</div>
<%- include ('../partials/footer') %>  -->

<html>
    <head>
        <title>About me</title>
    
    </head>

    <header>
        <h1>All About Me</h1>
    </header>

    <div>
        <p>The autobiography of Carl Zeng</p>
    </div>
</html>